<h1><%= data.title %></h1>
<article class="article">
    <%= data.body %>
</article>
<h5>An article by :</h5>
<h5><%= data.Username %></h5>
<h5><%= data.createdAt %></h5>
<h5><%= data.Approved %></h5>
<h5>summary : </h5>
<h5><%= data.Summary %></h5>