<div class="admin-title">
  <h2>Posts waiting for approval</h2>
</div>

<ul class="admin-posts">

  <% data.forEach(post => { %>
    <% if (post.Approved === "no") { %>
      <li>
        <a href="/post/<%= post._id %>">
          <%= post.title %> &nearr;
        </a>
        <div class="admin-post-controls">
          <a href="/approve-post-m/<%= post._id %>" class="btn">Approve</a>
          <form action="/delete-post-m/<%= post._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn-delete btn">
          </form>
        </div>
      </li>
    <% } %>
  <% }) %>
  
</ul>

<div class="admin-title">
  <h2>Approved posts</h2>
</div>
<ul class="admin-posts">

  <% data.forEach(post => { %>
    <% if (post.Approved === "yes") { %>
      <li>
        <a href="/post/<%= post._id %>">
          <%= post.title %> &nearr;
        </a>
        <div class="admin-post-controls">
          <!-- <a href="/approve-post-m/<%= post._id %>" class="btn">Approve</a> -->
          <form action="/delete-post-m/<%= post._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete" class="btn-delete btn">
          </form>
        </div>
      </li>
    <% } %>
  <% }) %>
  
</ul>


